:root,
[data-theme="light"] {
  --pico-background-color: #fff;
  --pico-color: #212121;
  --pico-muted-color: #585858;
  --pico-primary: #0d47a1;
  --pico-primary-hover: #1266e2;
  --pico-primary-background: #0d47a1;
  --pico-code-color: #d81b60;
  --pico-code-background-color: #f5f7ff;
  --pico-card-background-color: #f5f7ff;
  --pico-card-border-color: #efefef;

  --bg: #fff;
  --text: #212121;
  --particle: #ddd;
  --accent: var(--pico-primary);
  --accent-hover: var(--pico-primary-hover);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --pico-background-color: #212121;
    --pico-color: #dcdcdc;
    --pico-muted-color: #ababab;
    --pico-primary: #ffb300;
    --pico-primary-hover: #ffe099;
    --pico-primary-background: #ffb300;
    --pico-code-color: #f06292;
    --pico-code-background-color: #2b2b2b;
    --pico-card-background-color: #2b2b2b;
    --pico-card-border-color: #111;

    --bg: #212121;
    --text: #dcdcdc;
    --particle: #555;
    --accent: var(--pico-primary);
    --accent-hover: var(--pico-primary-hover);
  }
}

[data-theme="dark"] {
  --pico-background-color: #212121;
  --pico-color: #dcdcdc;
  --pico-muted-color: #ababab;
  --pico-primary: #ffb300;
  --pico-primary-hover: #ffe099;
  --pico-primary-background: #ffb300;
  --pico-code-color: #f06292;
  --pico-code-background-color: #2b2b2b;
  --pico-card-background-color: #2b2b2b;
  --pico-card-border-color: #111;

  --bg: #212121;
  --text: #dcdcdc;
  --particle: #555;
  --accent: var(--pico-primary);
  --accent-hover: var(--pico-primary-hover);
}

:where(a:not([role=button])), [role=link] {
  --pico-color: var(--pico-color-jade-350);
}
:where(a:not([role=button])):is([aria-current]:not([aria-current=false]),:hover,:active,:focus),
[role=link]:is([aria-current]:not([aria-current=false]),:hover,:active,:focus) {
  --pico-color: var(--pico-color-jade-200);
}

a {
  border-bottom: 1px solid;
  transition: all 0.15s;
  text-decoration: none;
}
a:hover {
  border-bottom-color: transparent;
  /* color: var(--accent-hover); */
}

article > h1:first-child {
  margin-top: 0;
}

article h1 { font-size: 2.75rem; }
article h2 { font-size: 2.5rem; }
article h3 { font-size: 2rem; }
article h4 { font-size: 1.75rem; }
article h5 { font-size: 1.5rem; }
article h6 { font-size: 1.25rem; }

article[data-tpl] {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

@view-transition {
  navigation: auto;
}
