---
// import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
// import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "@/config";
import SiteShell from "@/components/SiteShell.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection('blog');
// const shallowPosts = allPosts
    // .filter(post => !post.slug.includes('/'))
    // .map(post => post)
    //     params: {
    //         collection: post.slug.split('/')[0],
    //         slug: post.slug.split('/')[1],
    //     },
    //     props: { post },
    // }));
---

<SiteShell title="Blog" page="blog">
    <script is:inline define:vars={{allPosts}}>
        console.log(allPosts)
    </script>

    {allPosts.map(post =>
        <article>
            <h1>{post.data.title}</h1>
            <p>{post.data.description}</p>
            <a href={`/blog/${post.slug}`}>Read</a>
        </article>
    )}
</SiteShell>
