---
import TimeTag from '@/components/TimeTag.astro';
const { title, description, url, date } = Astro.props;
---

<article>
    <h3>{title}</h3>
    {(description ?? '') && (
        <p>{description}</p>
    )}
    <footer>
        <a href={url}>Read</a>
        {date && <TimeTag date={date}></TimeTag>}
    </footer>
</article>

<style>
footer {
    display: flex;
    justify-content: space-between;
}
</style>
