---
import IconLink from './IconLink.astro';
---

<footer id="bottom" class="text-sm leading-[1.75] mt-4">
  <div>
    <IconLink
      href="https://www.linkedin.com/in/adam-leis-75018b23/"
      iconClasses="fa-brands fa-linkedin"
      iconTitle="Blogster on GitHub"
    />
    <IconLink
      href="https://github.com/Made-of-Clay"
      iconClasses="fa-brands fa-github"
      iconTitle="Blogster on GitHub"
    />
    <IconLink
      href="https://x.com/theNthAdam"
      iconClasses="fa-brands fa-twitter"
      iconTitle="Dinesh on Twitter"
    />
  </div>
</footer>

<style>
footer {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
</style>
