---
// export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: classes, ...props } = Astro.props;
---

<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. -->
<a
  href={href}
  class={classes}
  {...props}
>
  <slot />
</a>
