---
const { href, iconClasses, iconTitle, linkClasses } = Astro.props;
---

<a
    href={href}
    class:list={[
        'unset rounded-sm p-2',
        'bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%]',
        'bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow',
        'transition-[background-size] duration-150 ease-in-out',
        linkClasses || '',
    ]}
>
    <span class={iconClasses} aria-hidden="true" title={iconTitle}></span>
</a>
