---
const { href, iconClasses, iconTitle, linkClasses } = Astro.props;
---

<a href={href} class="iconLink" target="_blank">
    <span class={iconClasses} aria-hidden="true" title={iconTitle}></span>
</a>

<style>
.iconLink {
    border-bottom: none;
    font-size: 1.5rem;
    text-decoration: none;
}
</style>
