---
import HeaderLink from "./HeaderLink.astro";

const { listClasses } = Astro.props;
---

<ul class={`unset flex gap-4 [&>li]:p-0 ${listClasses}`}>
  <li><HeaderLink href="/about">About</HeaderLink></li>
  <li><HeaderLink href="/blog">Blog</HeaderLink></li>
</ul>
