---

---

<div>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <section>
    <p>
      Paragraph text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <a href="#">This is a link</a>
  </section>

  <section>
    <strong>Bold text</strong><br />
    <em>Italic text</em><br />
    <u>Underlined text</u><br />
    <del>Deleted text</del><br />
    <ins>Inserted text</ins><br />
    <mark>Highlighted text</mark><br />
    <small>Small text</small><br />
    <abbr title="Abbreviation">Abbr text</abbr><br />
    <code>&lt;code&gt; text</code><br />
    <pre>
Preformatted text
Line 2
Line 3
        </pre>
  </section>

  <section>
    <ul>
      <li>Unordered list item</li>
      <li>Unordered list item</li>
      <li>Unordered list item</li>
    </ul>
    <ol>
      <li>Ordered list item</li>
      <li>Ordered list item</li>
      <li>Ordered list item</li>
    </ol>
    <dl>
      <dt>Definition Term</dt>
      <dd>Definition Description</dd>
      <dt>Another Term</dt>
      <dd>Another Description</dd>
    </dl>
  </section>

  <section>
    <blockquote>
      This is a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.
    </blockquote>
    <q>This is an inline quote.</q>
  </section>

  <section>
    <table>
      <caption>Table Caption</caption>
      <thead>
        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1, Cell 1</td>
          <td>Row 1, Cell 2</td>
          <td>Row 1, Cell 3</td>
        </tr>
        <tr>
          <td>Row 2, Cell 1</td>
          <td>Row 2, Cell 2</td>
          <td>Row 2, Cell 3</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Footer 1</td>
          <td>Footer 2</td>
          <td>Footer 3</td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section>
    <form>
      <label for="text-input">Text Input:</label><br />
      <input type="text" id="text-input" placeholder="Text Input" /><br /><br />

      <label for="password-input">Password Input:</label><br />
      <input type="password" id="password-input" placeholder="Password" /><br
      /><br />

      <label for="email-input">Email Input:</label><br />
      <input type="email" id="email-input" placeholder="Email" /><br /><br />

      <label for="textarea">Textarea:</label><br />
      <textarea id="textarea" placeholder="Textarea"></textarea><br /><br />

      <label for="select">Select:</label><br />
      <select id="select">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select><br /><br />

      <label for="checkbox">Checkbox:</label>
      <input type="checkbox" id="checkbox" /><br /><br />

      <label for="radio">Radio Button:</label>
      <input type="radio" id="radio" /><br /><br />

      <label for="file-input">File Input:</label><br />
      <input type="file" id="file-input" /><br /><br />

      <button type="submit">Submit Button</button>
      <input type="reset" value="Reset Button" />
    </form>
  </section>

  <section>
    <figure>
      <img src="https://via.placeholder.com/150" alt="Placeholder Image" />
      <figcaption>Figure Caption</figcaption>
    </figure>
  </section>

  <section>
    <details>
      <summary>Details Summary</summary>
      <p>Details content goes here.</p>
    </details>
  </section>

  <section>
    <iframe
      src="https://example.com"
      title="Example Iframe"
      width="300"
      height="200"></iframe>
  </section>
</div>
